<header>
  <img src="assets/logo.png" alt="">
</header>

<nav>

</nav>

<section>
  <div class="container">
    <h1 class="section-title">Elige una opción</h1>
    <div class="row">
      <div class="col col-lg-3" *ngFor="let producto of productos">
        <div class="card" routerLink="/productos">
          <img class="img-fluid" src="assets/{{producto.img}}" alt="">
          <h2>{{producto.name}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="buttons">
          <div class="btn btn-success" routerLink="/checkout">Pagar</div>
          <div class="btn btn-danger" routerLink="/categorias">Cancelar Orden</div>
        </div>
      </div>
    </div>
  </div>
</section>