/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@import "./scss/variables";

// Components
@import "./scss/components/buttons";
@import "./scss/components/cards";

.section-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  padding: 2.5rem 0 0.75rem;
}
