section {
  padding: 8rem 0 2rem;
  min-height: 100vh;
  background: rgb(57, 112, 202);
  background: linear-gradient(
    90deg,
    rgba(57, 112, 202, 1) 0%,
    rgba(75, 151, 208, 1) 100%
  );
}

.row {
  justify-content: center;
}

.card {
  padding: 1rem;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.card-price {
  font-size: 40px;
  font-weight: bold;
}

// Detalle de la compra
.card-detalle {
  flex-direction: column;
  justify-content: space-between;

  .detalle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .card-title {
      margin-right: 0.5rem;
    }

    .card-title,
    span {
      font-size: 20px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn:first-child {
      margin-bottom: 1rem;
    }
  }
}

// Formulario de la compra
.card-pago {
  .card-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .medios-de-pago {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img:first-child {
      width: 30%;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-detalle {
    .buttons {
      flex-direction: row;
      align-items: center;

      .btn:first-child {
        margin: 0;
      }
    }
  }
}

@media (min-width: 576px) {
  .card {
    padding: 1rem 2rem;
  }
}

@media (min-width: 768px) {
  section {
    padding: 2rem 0;
  }

  // Detalle de la compra
  .card-detalle {
    flex-direction: row;

    .detalle-wrapper {
      display: block;
      margin-bottom: 0;

      .card-title {
        margin-right: 0;
        font-size: 24px;
      }

      .card-price {
        font-size: 40px;
      }
    }
  }

  // Formulario de la compra
  .card-pago {
    .card-title {
      margin-bottom: 2rem;
    }

    .medios-de-pago {
      flex-direction: row;

      img:first-child {
        width: 20%;
        margin-bottom: 0;
      }

      img:last-child {
        width: 75%;
      }
    }
  }
}

@media (min-width: 992px) {
  .card {
    padding: 1rem 3.5rem;
  }
}
