<section>
  <img class="logo" src="assets/logo.png" alt="">

  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 col-md-9">
        <div class="card card-detalle">
          <div class="detalle-wrapper">
            <h2 class="card-title">Total a pagar</h2>
            <span class="card-price">$300</span>
          </div>

          <div class="buttons">
            <button class="btn btn-success">Ver detalle</button>
            <button class="btn btn-danger" routerLink="/productos">Cancelar orden</button>
          </div>
        </div>

        <div class="card card-pago">
          <h2 class="card-title">Formas de pago</h2>
          <div class="medios-de-pago">
            <img class="img-fluid" src="assets/tarjetas.png" alt="">
            <img class="img-fluid" src="assets/tarjetas2.png" alt="">
          </div>

          <form action="">
            <div class="form-group">
              <label for="nombre">Nombre del titular<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="nombre">
            </div>

            <div class="form-group">
              <label for="tarjeta">Número de tarjeta<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="tarjeta">
            </div>

            <div class="form-group form-group-fecha">
              <label for="fecha_inicio">Fecha de expiración<span class="text-danger">*</span></label>
              <div class="inputs">
                <input type="text" class="form-control" id="fecha_inicio">
                <input type="text" class="form-control" id="fecha_final">
              </div>
            </div>

            <div class="form-group form-group-codigo">
              <label for="codigo">Código de seguridad<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="codigo" disbaled>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-success">Pagar</button>
            </div>

          </form>
        </div>
      </div>

    </div>


  </div>
</section>